In [56]:
import pandas as pd
import numpy as np
from itertools import combinations

In [18]:
df_colex= pd.read_csv("../data/colexifications/colex_all.csv")

In [23]:
langs_iso = list(set(df_colex["Glottocode"].tolist()))

In [24]:
len(langs_iso)

2933

In [25]:
df_langs = pd.read_csv("../data/Jaeger2022/data/languages.csv")

In [27]:
df_langs =df_langs[df_langs.Glottocode.isin(langs_iso)]

In [30]:
langs = list(set(df_langs["Glottocode"].tolist()))

In [52]:
df_langs["JaegerCode"]=df_langs["classification_wals"]+"."+df_langs["ID"]

In [60]:
jaeger2glotto= dict(zip(df_langs["JaegerCode"], df_langs["Glottocode"]))

In [61]:
writer= open("../data/pmiLanguageDistances.csv", "w+")
writer.write("JaegerCode1\tJaegerCode2\tGlottocode1\tGlottocode2\tPMI\n")

52

In [58]:
list(combinations([1,2,3],2))

[(1, 2), (1, 3), (2, 3)]

In [63]:
from tqdm import tqdm

In [64]:
for comb in tqdm(combinations(df_langs["JaegerCode"].tolist(),2)):
    lang1,lang2=sorted(comb)
    glottocode1 = jaeger2glotto[lang1]
    glottocode2 = jaeger2glotto[lang2]
    try:
        pmi_score=pmi.at[lang1,lang2]
        writer.write(f"{lang1}\t{lang2}\t{glottocode1}\t{glottocode2}\t{pmi_score}\n")
        if pmi_score==np.nan:
            try:
                pmi_score=pmi.at[lang2,lang1]
                writer.write(f"{lang1}\t{lang2}\t{glottocode1}\t{glottocode2}\t{pmi_score}\n")
            except Exception:
                continue
                
    except Exception:            
        continue

10444735it [00:42, 248244.77it/s]

In [43]:
df_langs[["ID","classification_wals"]]

                   ID      classification_wals
3     A53_BAFIA_RIKPA               NC.BANTOID
14           ABASAKUR               TNG.MADANG
15               ABAU          Sep.UPPER_SEPIK
16             ABAU_2          Sep.UPPER_SEPIK
17              ABAZA  NWC.NORTHWEST_CAUCASIAN
...               ...                      ...
9781            ZULGO           AA.BIU-MANDARA
9782             ZULU               NC.BANTOID
9783           ZULU_2               NC.BANTOID
9784     ZULU_NKANDLA               NC.BANTOID
9786             ZUNI                 Zun.ZUNI

[4571 rows x 2 columns]

In [39]:
pmi= pd.read_csv("../data/Jaeger2022/data/pmiLanguageDistances.csv",index_col=0)

In [50]:
pmi.at["Sep.UPPER_SEPIK.ABAU_2", "TNG.MADANG.ABASAKUR"]

nan

In [41]:
pmi.at["NC.BANTOID.A51_BAFIA_MAJA","NC.BANTOID.A53_BAFIA_RIKPA"]

0.5146103424296252